html {
  background: #2c3e50;
}

body {
  font: 300 16px Helvetica, Arial, sans-serif;
  width: 95%;
  color: white;
  margin-left: auto;
  margin-right: auto;
}

label {
  color: #648888;
}

input,
select,
textarea {
  border: 1px solid ;
  border-radius: 5px;
  display: block;
  margin: 5px 0 27px 0;
  padding: 5px 8px;
  width: 95%;
}

div {
    font: 300 16px Helvetica, Arial, sans-serif;
    width: 50%;
}

a {
  width: 50%;
  text-decoration: none;
}

a:link {
    color: #648888;
}

a:visited {
    color: white;
}

a:hover, a:active {
    color: #1789D4;
}


.chart-legend li span{
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 5px;
    background-color: blue;
}

#doughnutChart {
    width: 300px;
    height: 300px;
}

#alchemy {
  font: 10px Helvetica, Arial, sans-serif;
}

#anger {
    color: #CB4B16;
}

#disgust {
    color: #1F8261;
}

#fear {
    color: white;
}

#joy {
    color: #FFA500;
}

#sadness {
    color: #1789D4;
}

#sourceURL {
    font-weight: normal;
}